version: '3.8'

services:
  redis:
    image: redis:alpine
    container_name: myhome-redis
    restart: unless-stopped
    expose:
      - "6379"
    networks:
      - app-network

  # 1. Laravel PHP-FPM Service (API)
  laravel:
    build:
      context: ./api
      dockerfile: Dockerfile
    image: ervinpap/laravel:latest
    container_name: myhome-laravel
    restart: unless-stopped
    volumes:
      - ./api:/var/www/html
      - ./api/database:/var/www/html/database
      - ./api/storage:/var/www/html/storage
    user: root
    entrypoint: sh -c "chown -R www-data:www-data /var/www/html && php-fpm"
    depends_on:
      - redis
    networks:
      - app-network

  # 2. Laravel Reverb WebSocket Server
  reverb:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: laravel-reverb
    restart: unless-stopped
    command: php artisan reverb:start --host=0.0.0.0 --port=8080
    volumes:
      - ./api:/var/www/html
    #expose:
    #  - "8080"
    ports:
    - "8081:8080"
    depends_on:
      - redis
    networks:
      - app-network

  # 3. Laravel Queue Worker (Standard Config)
  worker:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: laravel-worker
    restart: unless-stopped
    command: php artisan queue:work redis --tries=3 --delay=3
    volumes:
      - ./api:/var/www/html
    depends_on:
      - redis
    networks:
      - app-network

  # 4. Nginx Web Server (Proxy/Entrypoint)
  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    restart: unless-stopped
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    depends_on:
      laravel:
        condition: service_started
      nextjs:
        condition: service_started
    networks:
    - app-network

  # 5. Next.js Frontend
  nextjs:
    build:
      context: ./public
    image: ervinpap/nextjs-frontend:latest 
    container_name: nextjs-frontend
    restart: unless-stopped
    environment:
      - HOST=0.0.0.0
      - NODE_ENV=production
    networks:
      - app-network

volumes:
  redisdata:

networks:
  app-network:
    driver: bridge
